<!-- 
    {{#each orders}}
 <script id="orders-template" type="text/x-handlebars-template">
  <table>
    <thead>
    <tr>
      <td>{{this._owner}}</td>
      <td>{{this.price}}</td>
      <td>{{this.quantity}}</td>
      <td>{{this.total}}</td>
      <td>{{this.date}}</td>
    </tr>
  </thead>
</table>
    {{/each}} -->
